<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Saved routes</title>
</head>
<body>
<div class="navbar">
    <th:block xmlns:th="http://www.thymeleaf.org">
        <h1><a href="/tollsapp">Routes of Macedonia</a></h1>
        <ul>
            <li>
                Logged in as <th:block th:text="${session.user.getUsername()}"></th:block>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/routes">Saved routes</a></li>
            <img src="../static/prifle.jpg" width="50" height="50">
            <li><a href="/logout">Log out</a></li>
        </ul>
</div>
<main>
    <div class="container">
        <div th:if="${hasError}" class="error">
            <h5 class="text-center text-danger" th:text="${error}"></h5>
        </div>

        <div class="row" th:if="${routes.size()} > 0">

            <div class="col-2">

            </div>

            <div class="col-6">
                <div class="col-2">
                    <div th:each="route : ${routes}" class="pb-3 row">
                        <div th:text="${route.getPointA()}"></div>
                    </div>
                </div>

                <div class="col-2">
                    <div th:each="route : ${routes}" class="pb-3 row">
                        <div th:text="${route.getPointB()}"></div>
                    </div>
                </div>
                <div th:each="route : ${routes}" class="row">

                    <label class="p-1"
                           th:text="${route.getUser().getUsername()}">
                    </label>
                    <form th:method="DELETE" th:action="@{'/routes/delete/{id}' (id=${route.getId()})}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-primary ml-4" href="/tollsapp">Add new route</a>
            </div>
        </div>

    </div>

</main>
</body>
</html>